.feature-card {
  box-sizing: border-box;
  padding: 20px;
  width: 540px;
  min-height: 215px;
  background-color: #e1edce;
}

.feature-card--negative {
  background-color: #f8ddd7;
}

.feature-card__wrapper {
  display: flex;
}

.feature-card__icon {
  margin-right: 20px;
}

.feature-card__label {
  display: inline-block;
  padding: 5px;
  margin-bottom: 10px;

  font-size: 14px;
  color: white;
  background-color: #88aa4d;
}

.feature-card__description {
  margin: 0;
  margin-top: 20px;
}
